.cellGrid {
  border-color: rgb(63, 183, 238) !important; /* 表格边线颜色复写 */
}

.cellGrid /deep/ .gridCell {
  border-color: rgb(63, 183, 238) !important; /* 表格边线颜色复写 */
}

.cellGrid /deep/ .gridSlot {
  border-color: rgb(63, 183, 238) !important; /* 表格边线颜色复写 */
}

.isParentCell {
  border: 0px !important;
}

.isCell {
  border: 0px !important;
}

.top-left {
  place-self: start;
  justify-self: left;
}

.top-center {
  place-self: start;
  justify-self: center;
}

.top-right {
  place-self: start;
  justify-self: right;
}

.center-left {
  place-self: center;
  justify-self: left;
}

.center-center {
  place-self: center;
  justify-self: center;
}

.center-right {
  place-self: center;
  justify-self: right;
}

.bottom-left {
  place-self: end;
  justify-self: left;
}

.bottom-center {
  place-self: end;
  justify-self: center;
}

.bottom-right {
  place-self: end;
  justify-self: right;
}

.stretch {
  place-self: stretch;
}
